*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: #F9F9FB;
  font-family: 'Poppins', sans-serif;
  color: #888;
}

h1, h2, h3 {
  color: #424257;
}


.container{
  width: 50%;
  margin: 70px auto;
  background-color: #fff;
  border-radius: 25px;
  padding: 25px;
  box-shadow: 0 3px 3px #ddd;
}

.header__main{
  display:flex;
}

.header__details{
  margin-left:20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.header__top, .header__bottom{
  display: flex;
  justify-content: space-between;
}



.header__photo img{
  height: 250px;
  border-radius: 25px;
}

.header__work--available{
  background-color: #CFFCDF;
  color: #033028;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding: 0 20px;
}

.header__title{
  margin-bottom: 10px;
}

.header__socials{
  display: flex;
  
}

.button{
  background-color: #F9F9FB;
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 0 3px 3px #ddd;
  font-family: 'Poppins', sans-serif;
}

.button a{
  color: #424257;
  text-decoration: none;
}

.secondary-button{
  margin-left: 10px;
}

.container__header{
  display: flex;
  justify-content: space-between;
}

.container__projects{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  grid-gap: 15px;
  padding: 10px;
  margin-top: 20px;
}

.container__project{
  padding:10px;
}

.project__image img{
  width: 100%;
  border-radius: 25px;
  box-shadow: 0 3px 3px #ddd;
}

.project__stack p{
  font-weight: 400;
  margin: 10px 0;
  font-size: 14px;
}

.project__buttons{
  margin-top: 20px;
  display:flex;
  justify-content: center;
}

